.card-img-top {
    height: 200px;
    object-fit: cover;
    width: 100%; /*la imagen ocupa todo el ancho de la card*/
    height: 200px; /*mismo alto para todas las imagenes*/
    object-fit: contain; /*evita que se corten las imagenes*/
    padding: 15px; /*espacio alrededor de la imagen*/
}

.card-group {
    display: flex; /*activa el modelo flexbox*/
    justify-content: center; /*centra horizontalemnte las cards*/
    align-items: flex-start; /*alinea las cards en la parte superior*/
    gap: 20px; /*espacio entre cards*/
    margin-top: 50px; /*espacio entre la navbar*/
    flex-wrap: wrap;
    padding-left: 100px;
    padding-right: 100px;
}

/*desabilitamos agrandamiento para las cards grid*/
.card.card-grid {
    transition: none;
}

    .card.card-grid:hover {
        transform: none;
        box-shadow: none;
    }

body {
    background-color: grey; /*color de fondo*/
    margin: 0;
    padding: 0;
}

.tabla-productos {
    min-height: 700px;
    max-height: 700px;
    overflow-y: auto;
    background: white;
    border-radius: 8px;
    padding: 0;
    width: 100%;
}

#gvProductos {
    width: 100%;
}

#gvProductos {
    position: sticky;
    top: 0;
    z-index: 10;
}
/*ajuste para las lineas */
.table-bordered td,
.table-bordered th {
    border: 1px solid #cfcfcf !important;
}

/* alturas de fila */
.table td,
.table th {
    padding: 6px 8px !important;
}

/* ajusta texto */
.table td {
    font-size: 0.95rem;
}

.table {
    width: 100%;
    border-collapse: collapse !important;
}

.contenedor-tabla {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.tabla-productos {
    min-height: 700px;
    max-height: 700px;
    overflow-y: auto;
    background: white;
    border-radius: 8px;
    padding: 0;
    width: 100%;
}

/*ajustamos el alto y seteamos scroll en tabla stock*/
.tabla-stock {
    max-height: 700px;
    overflow-y: auto;
 
} 